:root {
    --gradient: linear-gradient(90deg, #1c1877, #66275c);
}

body {
    background-size: 400%;
    background-image: var(--gradient);
    animation: bg-animation 13s infinite;
    overflow: hidden; /* Добавляем overflow: hidden для предотвращения прокрутки */
}

@keyframes bg-animation {
    0% {
        background-position: left
    }
    50% {
        background-position: right
    }
    100% {
        background-position: left
    }
}


.snow,
.snow:before,
.snow:after {
    z-index: 0;
    position: absolute;
    top: -650px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
    background-size: 650px 650px;
    animation: snow 3s linear infinite;
    content: "";
}

.snow:after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 7s;
    animation-direction: reverse;
}

.snow:before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;
    animation-direction: reverse;
}

@keyframes snow {
    to {
        transform: translateY(650px);
    }
}

@keyframes parallaxAnimation {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/*блок для ввода имени и пожелания */
/*контрейнер: ввод и кнопка */
.login-box {
    position: absolute; /* Позиционирование блока абсолютно */
    top: 30%; /* Отступ сверху на 30% от родительского элемента */
    left: 50%; /* Отступ слева на 50% от родительского элемента */
    width: 600px; /* Ширина блока 600px */
    padding: 40px; /* Внутренний отступ блока 40px */
    transform: translate(-50%, -50%); /* Перенос блока влево и вверх на 50% от его ширины и высоты */
    background: rgba(0, 0, 0, .5); /* Цвет фона с использованием полупрозрачности */
    box-sizing: border-box; /* Размеры блока включают границу и внутренний отступ */
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6); /* Тень блока с определенными параметрами */
    border-radius: 10px; /* Закругление углов блока */
}

/*Заголовок*/
.login-box h2 {
    margin: 0 0 30px; /* Внешний отступ сверху 0, справа 0, снизу 30px */
    padding: 0; /* Внутренний отступ блока 0 */
    color: #fff; /* Цвет текста белый */
    text-align: center; /* Выравнивание текста по центру */
}

/*2 поля ввода */
.login-box .user-box {
    position: relative; /* Относительное позиционирование для вложенного блока */
}

/*поля ввода имя пользователя и  */
.login-box .user-box input{
    width: 100%; /* Ширина поля ввода 100% от родительского блока */
    padding: 10px 0; /* Внутренний отступ поля ввода 10px сверху и снизу, 0 слева и справа */
    font-size: 16px; /* Размер шрифта 16px */
    color: #fff; /* Цвет текста белый */
    margin-bottom: 30px; /* Внешний отступ снизу 30px */
    border: none; /* Убираем границу у поля ввода */
    border-bottom: 1px solid #fff; /* Устанавливаем нижнюю границу с цветом белый */
    outline: none; /* Убираем контур вокруг поля ввода при фокусе */
    background: transparent; /* Прозрачный фон */

}

/*позиционирование подсказок в полях ввода*/
.login-box .user-box label {
    position: absolute; /* Абсолютное позиционирование для лейбла внутри .user-box */
    top: 0; /* Отступ сверху 0 */
    left: 0; /* Отступ слева 0 */
    padding: 10px 0; /* Внутренний отступ лейбла 10px сверху и снизу, 0 слева и справа */
    font-size: 16px; /* Размер шрифта 16px */
    color: #fff; /* Цвет текста белый */
    pointer-events: none; /* Запрещаем события мыши для элемента (чтобы не мешал взаимодействию с полем ввода) */
    transition: .5s; /* Плавное изменение свойств в течение 0.5 секунды */
}

/*поле ввода имени пользователя */
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px; /* Поднимаем лейбл при фокусе или введенных данных */
    left: 0; /* Отступ слева 0 */
    color: #03e9f4; /* Цвет текста при фокусе или введенных данных */
    font-size: 12px;
    /* Уменьшаем размер шрифта при фокусе или введенных данных */
}
/* Добавление стилей к элементу с классом "happy" (в данном случае, для textarea) */


/*поле ввода пожелания*/


/*кнопка отправить*/
.login-box form a {
    position: relative; /* Относительное позиционирование для ссылки внутри формы */
    display: inline-block; /* Отображение как блочный элемент */
    padding: 10px 20px; /* Внутренний отступ ссылки 10px сверху и снизу, 20px слева и справа */
    color: #03e9f4; /* Цвет текста светло-голубой */
    font-size: 16px; /* Размер шрифта 16px */
    text-decoration: none; /* Отменяем подчеркивание текста ссылки */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    overflow: hidden; /* Обрезаем все, что выходит за пределы блока ссылки */
    transition: .5s; /* Плавное изменение свойств в течение 0.5 секунды */
    margin-top: 40px; /* Внешний отступ сверху 40px */
    letter-spacing: 4px; /* Расстояние между символами 4px */
}

.login-box a:hover {
    background: #03e9f4; /* Фон ссылки при наведении */
    color: #fff; /* Цвет текста при наведении */
    border-radius: 5px; /* Закругление углов при наведении */
    box-shadow: 0 0 5px #03e9f4, /* Тень при наведении */ 0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
    position: absolute; /* Абсолютное позиционирование для псевдоэлемента span внутри ссылки */
    display: block; /* Отображение как блочный элемент */
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%; /* Смещаем псевдоэлемент за пределы блока слева */
    width: 100%; /* Ширина псевдоэлемента 100% блока */
    height: 2px; /* Высота псевдоэлемента 2px */
    background: linear-gradient(90deg, transparent, #03e9f4); /* Градиентная заливка: прозрачный - светло-голубой */
    animation: btn-anim1 1s linear infinite; /* Анимация смещения псевдоэлемента */
}

@keyframes btn-anim1 {
    0% {
        left: -100%; /* Начальное смещение псевдоэлемента за пределы блока слева */
    }
    50%, 100% {
        left: 100%; /* Смещение псевдоэлемента за пределы блока справа на 50% и 100% анимации */
    }
}

.login-box a span:nth-child(2) {
    top: -100%; /* Смещаем псевдоэлемент за пределы блока сверху */
    right: 0; /* Выравниваем псевдоэлемент справа */
    width: 2px; /* Ширина псевдоэлемента 2px */
    height: 100%; /* Высота псевдоэлемента 100% блока */
    background: linear-gradient(180deg, transparent, #03e9f4); /* Градиентная заливка: прозрачный - светло-голубой */
    animation: btn-anim2 1s linear infinite; /* Анимация смещения псевдоэлемента */
    animation-delay: .25s; /* Задержка анимации на 0.25 секунды */
}

@keyframes btn-anim2 {
    0% {
        top: -100%; /* Начальное смещение псевдоэлемента за пределы блока сверху */
    }
    50%, 100% {
        top: 100%; /* Смещение псевдоэлемента за пределы блока снизу на 50% и 100% анимации */
    }
}

.login-box a span:nth-child(3) {
    bottom: 0; /* Выравниваем псевдоэлемент снизу */
    right: -100%; /* Смещаем псевдоэлемент за пределы блока справа */
    width: 100%; /* Ширина псевдоэлемента 100% блока */
    height: 2px; /* Высота псевдоэлемента 2px */
    background: linear-gradient(270deg, transparent, #03e9f4); /* Градиентная заливка: прозрачный - светло-голубой */
    animation: btn-anim3 1s linear infinite; /* Анимация смещения псевдоэлемента */
    animation-delay: .5s; /* Задержка анимации на 0.5 секунды */
}

@keyframes btn-anim3 {
    0% {
        right: -100%; /* Начальное смещение псевдоэлемента за пределы блока справа */
    }
    50%, 100% {
        right: 100%; /* Смещение псевдоэлемента за пределы блока слева на 50% и 100% анимации */
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%; /* Смещаем псевдоэлемент за пределы блока снизу */
    left: 0; /* Выравниваем псевдоэлемент слева */
    width: 2px; /* Ширина псевдоэлемента 2px */
    height: 100%; /* Высота псевдоэлемента 100% блока */
    background: linear-gradient(360deg, transparent, #03e9f4); /* Градиентная заливка: прозрачный - светло-голубой */
    animation: btn-anim4 1s linear infinite; /* Анимация смещения псевдоэлемента */
    animation-delay: .75s; /* Задержка анимации на 0.75 секунды */
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%; /* Начальное смещение псевдоэлемента за пределы блока снизу */
    }
    50%, 100% {
        bottom: 100%; /* Смещение псевдоэлемента за пределы блока сверху на 50% и 100% анимации */
    }
}
